<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/dashboard::admin-head"></head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger" th:insert="admin/dashboard::admin-sidebar"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand">Customers</a>
                </div>
            </div>
        </nav>

        <div class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Customers</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Orders count</th>
                                    </thead>
                                    <tbody>
                                    <!--/*@thymesVar id="customers" type="java.util.ArrayList<com.cpssurplus.domains.entities.Customer>"*/-->
                                    <tr th:each="customer, index : ${customers}">
                                        <td th:text="${customer.name}"></td>
                                        <td th:text="${customer.email}"></td>
                                        <td th:text="${customer.phone}"></td>
                                        <td th:text="${customer.ordersCount}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="admin/dashboard::admin-scripts"></div>
</body>
</html>