<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<form th:action="@{/admin/import}" method="post" enctype="multipart/form-data">
    <input type="file" th:name="excelFile">
    <select name="country">
        <option th:each="country : ${countries}"
        th:value="country"></option>
    </select>

    <input th:type="submit" value="Import" />
</form>
</body>
</html>