<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>CPS Surplus Stock</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Genuine parts for New Holland Farm Equipment, New Holland Parts book, Case IH, \
  and Case Construction parts, Ford New Holland parts lookup, New Holland Baler parts, New Holland filters, \
  Square Baler Parts, Ford tractor parts, Ford New Holland, Parts for tractors, used tractor parts, \
  Tractor Oil Filter, Tractor Fuel Filter, Ford Tractor Alternator, Tractor Belts, Tractor Clutch Parts, \
  Disc for Tractor, Tractor disc harrow, Disc Harrow, Tractor disc Parts, Tractor Disc, Ford Tractor Muffler, \
  Tractor Mufflers, Tractor head Gasket, New Holland combine parts, New Holland baler parts, New Holland hay and \
  forage equipment parts. Case IH tractor parts, Case IH harvester parts, \
  Styer tractor parts, Felxi Coil parts, Orensteing & Koppel parts, Fiat Agri parts, \
  Fiat Hitachi parts, Fiat Kobelco parts, Fiat Allis parts, IVECO Engines, FPT Engines." name="keywords">

  <meta content="Genuine parts for New Holland Farm Equipment, New Holland Parts book, Case IH, \
  and Case Construction parts, Ford New Holland parts lookup, New Holland Baler parts, New Holland filters, \
  Square Baler Parts, Ford tractor parts, Ford New Holland, Parts for tractors, used tractor parts, \
  Tractor Oil Filter, Tractor Fuel Filter, Ford Tractor Alternator, Tractor Belts, Tractor Clutch Parts, \
  Disc for Tractor, Tractor disc harrow, Disc Harrow, Tractor disc Parts, Tractor Disc, Ford Tractor Muffler, \
  Tractor Mufflers, Tractor head Gasket, New Holland combine parts, New Holland baler parts, New Holland hay and \
  forage equipment parts. Case IH tractor parts, Case IH harvester parts, \
  Styer tractor parts, Felxi Coil parts, Orensteing & Koppel parts, Fiat Agri parts, \
  Fiat Hitachi parts, Fiat Kobelco parts, Fiat Allis parts, IVECO Engines, FPT Engines." name="description">

  <!-- Favicons -->
  <link href="/img/favicon.ico" rel="icon">
  <link href="/img/apple-touch-icon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href ="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">CPS Stock</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Supplied parts</a></li>
          <li><a href="#portfolio">Our stocks</a></li>
          <li><a href="#team">Team</a></li>
<!--          <li class="menu-has-children"><a href="">Drop Down</a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--              <li><a href="#">Drop Down 5</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a href="#contact">Contact us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/img/intro-carousel/1.jpg" alt="CNH-PARTS"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>We have parts for every machinery you need</h2>
                <p>We provide a wide range of spare parts for different kinds of CNH machinery for special price, and we have it in stock. Don't
                miss your chance to buy spare parts for CNH machinery with great discounts</p>
                <a href="#contact" class="btn-get-started scrollto">Order now</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/img/intro-carousel/2.jpg" alt="Belgium warehouse"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>A huge stock in Sprimont, Belgium</h2>
                <p>Our main warehouse is located in Sprimont, Belgium. Despite that, we ship our parts worldwide, so you can order them to any point in the world</p>
                <a href="#contact" class="btn-get-started scrollto">Order now</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/img/intro-carousel/3.jpg" alt="Uzbekistan warehouse"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>A very large stock in Uzbekistan</h2>
                <p>And Belgium is not the only our warehouse. We have a large stock of CASE parts, located in Uzbekistan!</p>
                <a href="#contact" class="btn-get-started scrollto">Order now</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/img/intro-carousel/4.jpg" alt="Bangok warehouse"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>China stocks</h2>
                <p>We also have a large warehouse in China. You have option to order from any warehouse, to ensure you get the fastest delivery</p>
                <a href="#contact" class="btn-get-started scrollto">Order now</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/img/intro-carousel/5.jpg" alt="Germany warehouse"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Other European warehouses</h2>
                <p>We also have several warehouses located across Europe. So, we have them in Germany and Italy. You can order CNH parts and receive them lightning-fast</p>
                <a href="#contact" class="btn-get-started scrollto">Order now</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/img/intro-carousel/6.jpg" alt="Dubai warehouse"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Spare parts in Dubai</h2>
                <p>Also you have an option to order from our Dubai warehouse. We can get you spare parts for any CNH machinery, from our huge stock.</p>
                <a href="#contact" class="btn-get-started scrollto">Order now</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">Wide range of CNH parts</a></h4>
            <p class="description">We have a spare parts for CASE, New Holland, Fiat, FORD, and a lot of other vendors</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">Fast shipping</a></h4>
            <p class="description">Due to our large network of warehouses, you will get your order as fast as possible</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Genuine quality</a></h4>
            <p class="description">All our spare parts are genuine, so you can get the best at the lowest price possible,
              because everything is in stock</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>We are authorized dealers for CNH machinery and we want to provide the best for our customers. We have a large network of our warehouses to deliver everything in time</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-us/new-holland.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><span>New Holland</span></h2>
              <p>
                We have a wide range of New Holland spare parts
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-us/case-ih.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">CASE-IH</a></h2>
              <p>
                We have a wide range of CASE-IH spare parts
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-us/flexi-coil.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Flexi-Coil</a></h2>
              <p>
                We have a wide range of Flexi-Coil spare parts
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-us/fiat.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Fiat machinery</a></h2>
              <p>
                We have a wide range of spare parts for Fiat machinery
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-us/steiger.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Steiger</a></h2>
              <p>
                We have spare parts for Steiger tractors
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-us/ok.png" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">O&K</a></h2>
              <p>
                We have a huge stocks spare parts for O&K machinery
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-us/poclain.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Poclain</a></h2>
              <p>
                We have spare parts for poclain excavators. In Stock!
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>What do we offer</h3>
          <p>We offer the best for our customers!</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Geniune quality</a></h4>
            <p class="description">We are authorized dealers for the CNH parts, so all of our stocks are geniune spare parts</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Rapid delivery</a></h4>
            <p class="description">We have a wide range of warehouses worldwide, so you can get the order in the shortest time possible</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">A wide range of spare parts</a></h4>
            <p class="description">We have spare parts for almost all types of CNH machinery</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Great discounts</a></h4>
            <p class="description">We have all our parts in stock, that's why we offer them at prices much lower than average</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Catalogues</a></h4>
            <p class="description">You can download catalogues, containing the part numbers which are available to order</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Qualified personal</a></h4>
            <p class="description">Our team will be glad to help you to find the part you need</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Order what you need at special price!</h3>
        <p>Contact us right now to get the parts you need! You will very pleased by our prices!</p>
        <a class="cta-btn" href="#contact">Order now</a>
      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
<!--    <section id="skills">-->
<!--      <div class="container">-->

<!--        <header class="section-header">-->
<!--          <h3>Our Skills</h3>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>-->
<!--        </header>-->

<!--        <div class="skills-content">-->

<!--          <div class="progress">-->
<!--            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">-->
<!--              <span class="skill">HTML <i class="val">100%</i></span>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="progress">-->
<!--            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">-->
<!--              <span class="skill">CSS <i class="val">90%</i></span>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="progress">-->
<!--            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">-->
<!--              <span class="skill">JavaScript <i class="val">75%</i></span>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="progress">-->
<!--            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">-->
<!--              <span class="skill">Photoshop <i class="val">55%</i></span>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>-->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Our numbers</h3>
          <p>For now we have</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">6</span>
            <p>Warehousing countries</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">50000</span>
            <p>Spare parts</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">100</span>
            <p>Kinds of machinery</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">10</span>
            <p>Managers</p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="/img/facts.png" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our warehouses</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Europe</li>
              <li data-filter=".filter-card">Middle east</li>
              <li data-filter=".filter-web">Asia</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="/img/wh/belgium.jpg" class="img-fluid" alt="Belgium warehouse">
                <a href="/img/wh/belgium-large.jpg" data-lightbox="portfolio" data-title="Belgium warehouse" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><span>Belgium</span></h4>
                <p>All kinds of CNH machinery</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="/img/wh/uz.jpg" class="img-fluid" alt="Uzbekistan warehouse">
                <a href="/img/wh/uz.jpg" class="link-preview" data-lightbox="portfolio" data-title="Uzbekistan warehouse" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><span>Uzbekistan</span></h4>
                <p>CASE parts</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="/img/wh/ch.jpg" class="img-fluid" alt="China warehouse">
                <a href="/img/wh/ch.jpg" class="link-preview" data-lightbox="portfolio" data-title="China warehouse" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><span>China</span></h4>
                <p>All kind of CNH parts</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="/img/wh/ge.jpg" class="img-fluid" alt="Germany warehouse">
                <a href="/img/wh/ge.jpg" class="link-preview" data-lightbox="portfolio" data-title="Germany warehouse" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><span>Germany</span></h4>
                <p>All kind of CNH parts</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="/img/wh/it.jpg" class="img-fluid" alt="Italy warehouse">
                <a href="/img/wh/it.jpg" class="link-preview" data-lightbox="portfolio" data-title="Italy warehouse" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><span>Italy</span></h4>
                <p>All kind of CNH parts</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="/img/wh/dub.jpg" class="img-fluid" alt="Dubai warehouse">
                <a href="/img/wh/dub.jpg" class="link-preview" data-lightbox="portfolio" data-title="Dubai warehouse" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><span>Dubai</span></h4>
                <p>All kind of CNH parts</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Partners</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="/img/clients/client-1.png" alt="steyr">
          <img src="/img/clients/client-2.png" alt="isuzu">
          <img src="/img/clients/client-3.gif" alt="flexicoil">
          <img src="/img/clients/client-4.jpg" alt="jcb">
          <img src="/img/clients/client-5.gif" alt="steiger">
          <img src="/img/clients/client-6.png" alt="iveco">
          <img src="/img/clients/client-7.png" alt="new-holland">
          <img src="/img/clients/client-8.jpg" alt="fiat-hitachi">
          <img src="/img/clients/client-9.gif" alt="fiat-kobelco">
          <img src="/img/clients/client-11.jpg" alt="fpt">
          <img src="/img/clients/client-12.jpg" alt="case-ih">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
<!--    <section id="testimonials" class="section-bg wow fadeInUp">-->
<!--      <div class="container">-->

<!--        <header class="section-header">-->
<!--          <h3>Testimonials</h3>-->
<!--        </header>-->

<!--        <div class="owl-carousel testimonials-carousel">-->

<!--          <div class="testimonial-item">-->
<!--            <img src="/img/testimonial-1.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Saul Goodman</h3>-->
<!--            <h4>Ceo &amp; Founder</h4>-->
<!--            <p>-->
<!--              <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">-->
<!--              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.-->
<!--              <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="/img/testimonial-2.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Sara Wilsson</h3>-->
<!--            <h4>Designer</h4>-->
<!--            <p>-->
<!--              <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">-->
<!--              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.-->
<!--              <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="/img/testimonial-3.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Jena Karlis</h3>-->
<!--            <h4>Store Owner</h4>-->
<!--            <p>-->
<!--              <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">-->
<!--              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
<!--              <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="/img/testimonial-4.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Matt Brandon</h3>-->
<!--            <h4>Freelancer</h4>-->
<!--            <p>-->
<!--              <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">-->
<!--              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.-->
<!--              <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="/img/testimonial-5.jpg" class="testimonial-img" alt="">-->
<!--            <h3>John Larson</h3>-->
<!--            <h4>Entrepreneur</h4>-->
<!--            <p>-->
<!--              <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">-->
<!--              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.-->
<!--              <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">-->
<!--            </p>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; #testimonials &ndash;&gt;-->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Our team</h3>
          <p>We are a team of professionals, ready to help you with all your requests</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mr Dan A. WERBER</h4>
                  <span>Managing Director & President of CPS Group</span>
                  <div class="social">
                    <a href="tel: +44 7770 980 133">+44 7770 980 133</a>
                    <br/>
                    <a href="mailto:dan@parts-on-line.com">dan@parts-on-line.com</a>
                  </div>
<!--                  <div class="social">-->
<!--                    <a href=""><i class="fa fa-twitter"></i></a>-->
<!--                    <a href=""><i class="fa fa-facebook"></i></a>-->
<!--                    <a href=""><i class="fa fa-google-plus"></i></a>-->
<!--                    <a href=""><i class="fa fa-linkedin"></i></a>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mr Francis PAHAUT</h4>
                  <span>General Manager CPS Belgium sprl</span>
                  <div class="social">
                    <a href="tel: +32 4 257 71 98">+32 4 257 71 98</a>
                    <br/>
                    <a href="tel: +32 476 87 93 42">+32 476 87 93 42</a>
                    <br/>
                    <a href="mailto:francis@parts-on-line.be​">francis@parts-on-line.be​</a>
                  </div>
<!--                  <div class="social">-->
<!--                    <a href=""><i class="fa fa-twitter"></i></a>-->
<!--                    <a href=""><i class="fa fa-facebook"></i></a>-->
<!--                    <a href=""><i class="fa fa-google-plus"></i></a>-->
<!--                    <a href=""><i class="fa fa-linkedin"></i></a>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mr Simon WILMART</h4>
                  <span>Stores Supervisor</span>
                  <div class="social">
                    <a href="tel: +32 4 25771 95">+32 4 25771 95</a>
                    <br/>
                    <a href="tel: +32 471 61 43 88">+32 471 61 43 88</a>
                    <br/>
                    <a href="mailto:simon.cps.be@gmail.com">simon.cps.be@gmail.com</a>
                  </div>
<!--                  <div class="social">-->
<!--                    <a href=""><i class="fa fa-twitter"></i></a>-->
<!--                    <a href=""><i class="fa fa-facebook"></i></a>-->
<!--                    <a href=""><i class="fa fa-google-plus"></i></a>-->
<!--                    <a href=""><i class="fa fa-linkedin"></i></a>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Anna Zavolskaia</h4>
                  <span>Representative & Sales Manager - Russia & C.I.S</span>
                  <div class="social">
                    <a href="tel: +7 912 316 8069">+7 912 316 8069</a>
                    <br/>
                    <a href="mailto:a.zavolskaya@gmail.com​">a.zavolskaya@gmail.com​</a>
                  </div>
<!--                  <div class="social">-->
<!--                    <a href=""><i class="fa fa-twitter"></i></a>-->
<!--                    <a href=""><i class="fa fa-facebook"></i></a>-->
<!--                    <a href=""><i class="fa fa-google-plus"></i></a>-->
<!--                    <a href=""><i class="fa fa-linkedin"></i></a>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>If you want to order something, you can simply send use the part number you want to order in the form below</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Rue de la Legende 47,
                Zoning Artisanal de Cornemont,
                B-4141 Louveigne (SPRIMONT),
                BELGIUM</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+32 4 257 71 98">+32 4 257 71 98</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:francis@parts-on-line.be​">francis@parts-on-line.be​</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form th:action="@{/mail}" th:object="${contactForm}" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" th:field="*{name}" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:2" data-msg="Please enter at least 2 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" th:field="*{email}" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" th:field="*{subject}" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" th:field="*{message}" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>CPS Stock</h3>
            <p>Genuine parts for New Holland Farm Equipment, New Holland Parts book, Case IH,
              and Case Construction parts, Ford New Holland parts lookup, New Holland Baler parts, New Holland filters,
              Square Baler Parts, Ford tractor parts, Ford New Holland, Parts for tractors, used tractor parts,
              Tractor Oil Filter, Tractor Fuel Filter, Ford Tractor Alternator, Tractor Belts, Tractor Clutch Parts,
              Disc for Tractor, Tractor disc harrow, Disc Harrow, Tractor disc Parts, Tractor Disc, Ford Tractor Muffler,
              Tractor Mufflers, Tractor head Gasket, New Holland combine parts, New Holland baler parts, New Holland hay and
              forage equipment parts. Case IH tractor parts, Case IH harvester parts,
              Styer tractor parts, Felxi Coil parts, Orensteing & Koppel parts, Fiat Agri parts,
              Fiat Hitachi parts, Fiat Kobelco parts, Fiat Allis parts, IVECO Engines, FPT Engines.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Rue de la Legende 47 <br/>
              Zoning Artisanal de Cornemont <br/>
              B-4141 Louveigne (SPRIMONT) <br/>
              BELGIUM <br/>
              <strong>Phone:</strong> +32 4 257 71 98<br>
              <strong>Email:</strong> francis@parts-on-line.be​<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our News</h4>
            <p>Stay tuned with our news. Our web-site is still under development, and will constantly provide you with new interesting promotion offers</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CPS-Belgium</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>
